<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">
        <h6>Employee List</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Sr No</th>
                  <th>Name</th>
                  <th>Contact</th>
                  <th>Email ID</th>
                </tr>
              </thead>
              <tbody>
              @for(item of employeeList;track $index){
                <tr>
                  <td>{{$index+1}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.contactNo}}</td>
                  <td>{{item.emailId}}</td><td>
                    <button class="btn btn-danger  text-center" (click)="onDelete(item.empid)">Delete</button>
                    <button class="btn btn-primary text-center" (click)="OnEdit(item)"
                    >Edit</button>
                  </td>
                </tr>
              }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">
        New Employee
      </div>
      <div class="card-body">
        <form [formGroup]="employeeForm">
          <div class="row">
            <div class="col-12">
              <label for="name">Name</label>
              <input type="text" formControlName="name" class="form-control">
            </div>
            <div class="col-6">
              <label for="emailId">Email ID</label>
              <input type="email" formControlName="emailId" class="form-control">
            </div>
            <div class="col-6">
              <label for="contactNo">Contact No</label>
              <input type="text" formControlName="contactNo" class="form-control">
            </div>
            <div class="col-6">
              <label for="city">City</label>
              <input type="text" formControlName="city" class="form-control">
            </div>
            <div class="col-6">
              <label for="state">State</label>
              <input type="text" formControlName="state" class="form-control">
            </div>
            <div class="col-6">
              <label for="pincode">Pincode</label>
              <input type="text" formControlName="pincode" class="form-control">
            </div>
            <div class="col-12">
              <label for="address">Address</label>
              <textarea formControlName="address" class="form-control"></textarea>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6 text-center">
              <button type="reset" class="btn btn-secondary btn-success">
                Reset
              </button>
            </div>
            <div class="col-6 text-center">
              @if(employeeForm.controls['empid'].value =='1'){ <button class="btn btn-secondary btn-success" (click)="onSave()">Save</button>}
              @else{    <button  class="btn btn-secondary btn-Warning" (click)="onUpdate()">Update</button>}
             
        
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>